/* _content/Assgment_Nhom3_WebBanDienThoai/Areas/Admin/Views/Shared/_AdminLayout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-kucnnz52be] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a[b-kucnnz52be] { color: #0077cc; }

.btn-primary[b-kucnnz52be] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active[b-kucnnz52be], .nav-pills .show > .nav-link[b-kucnnz52be] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top[b-kucnnz52be] { border-top: 1px solid #e5e5e5; }

.border-bottom[b-kucnnz52be] { border-bottom: 1px solid #e5e5e5; }

.box-shadow[b-kucnnz52be] { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

button.accept-policy[b-kucnnz52be] {
    font-size: 1rem;
    line-height: inherit;
}

.footer[b-kucnnz52be] {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
/* _content/Assgment_Nhom3_WebBanDienThoai/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-s18nbfqqak] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a[b-s18nbfqqak] { color: #0077cc; }

.btn-primary[b-s18nbfqqak] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active[b-s18nbfqqak], .nav-pills .show > .nav-link[b-s18nbfqqak] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top[b-s18nbfqqak] { border-top: 1px solid #e5e5e5; }

.border-bottom[b-s18nbfqqak] { border-bottom: 1px solid #e5e5e5; }

.box-shadow[b-s18nbfqqak] { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

button.accept-policy[b-s18nbfqqak] {
    font-size: 1rem;
    line-height: inherit;
}

.footer[b-s18nbfqqak] {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
