@model Task<List<NhaSanXuat>>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Nha san xuat</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            Tên
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in await Model)
    {
        if (Model != null)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ten)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Update", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    }
    </tbody>
</table>