@model IEnumerable<Assgment_Nhom3_WebBanDienThoai.Models.ThongKeViewcs>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



<br />

<center><h2 style="color:red">Thống Kê</h2></center>
<br />

<table class="table table-bordered"> 
    <tr>
        <th>
            Tên khách hàng
        </th>
        <th>
            Số điện thoại
        </th>
        
        <th>
            Tổng Tiền
        </th>
        <th>
            Số Lượng Đơn Hàng
        </th>
        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tennguoidung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dienthoai)
            </td>
            
            <td>
                @String.Format("{0:0,0}", item.Tongtien) VNĐ
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soluong)
            </td>
            

            
        </tr>
    }

</table>


